body {
  background-color: #133667;
  color: white;
  text-align: center;
}

.navbar {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  width: 100%;
}

.logo {
  grid-column-start: 5;
  grid-column-end: 7;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.toggle-div {
  display: flex;
  grid-column-start: 8;
  grid-column-end: 8;
  margin: auto auto auto auto;
  justify-content: center;
}

.toggle-div span {
  margin-left: 5%;
  margin-right: 5%;
}

.toggle.react-toggle .react-toggle-track {
  background-color: #19AB27;
}

.toggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px;
}

.Results {
  background-color: white;
  margin: auto;
  margin-top: 20px;
  width: 400px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.leaflet-container {
  width: 80vw;
  height: 400px;
  padding: 30px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 480px) {
  .Results {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }
}
