body {
  background-color: #133667;
  color: white;
  text-align: center;
}

.navbar {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  width: 100%;
}

.logo {
  grid-column-start: 5;
  grid-column-end: 7;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.toggle-div {
  display: flex;
  grid-column-start: 8;
  grid-column-end: 9;
  margin: auto auto auto auto;
  justify-content: center;
}

.toggle-div span {
  margin-left: 5%;
  margin-right: 5%;
}

.toggle.react-toggle .react-toggle-track {
  background-color: #19AB27;
}

.toggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.locator {
  display: flex;
  height: 460px;
  width: 70%;
  margin: auto;
  padding: 20px;
}

.searchbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 5px;
}

.mymap {
  height: 100%;
  width: 65%;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px;
}

.leaflet-container {
  width: 80vw;
  height: 400px;
  padding: 30px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 1500px) {
  .locator {
    width: 75%;
  }
}

@media screen and (max-width: 1200px) {
  .locator {
    width: 85%;
  }
}

@media screen and (max-width: 900px) {
  .locator {
    flex-direction: column;
    height: 600px;
    width: 100%;
    margin: auto;
  }
  .searchbox {
    width: 80%;
    margin: auto;
  }
  
  .mymap {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .Results {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }
}
