.required-things {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.required-things .card-item {
    position: relative;
    border-radius: 10px;
}

.required-things .card-item .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
    background: #5e9cff;
}

.required-things .card-item .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}

.required-things .card-item .face {
    width: 300px;
    height: 100px;
    transition: 0.5s;
}

.required-things .card-item .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.required-things .card-item:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.required-things .card-item .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.required-things .card-item:hover .face.face1 .content {
    opacity: 1;
}

.required-things .card-item .face.face1 .content img{
    max-width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.required-things .card-item .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.required-things .card-item:hover .face.face2{
    transform: translateY(0);
}

.required-things .card-item .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.required-things img {
    text-decoration: none;
    color: #414141;
}