.weather-card {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 95%;
    text-align: left;
    margin-top: 1em;
    align-items: center;
    justify-content: space-around;
}

.weatherCard-current{
    width: 45%;
    height: 100%;
    display: flex;
    margin: 1em;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
    padding: 0px 15px;
}

.weather-currentInner{
    display: flex;
    flex-wrap: wrap;
    max-height: 250px;
    justify-content: space-around;
}

@media screen and (max-width: 1200px) {
    .weatherCard-current {
        width: 100%;
    }

    .weather-currentInner{
        max-height:fit-content;
    }
    
}

.weatherCard-current-img{
    width: 8em;
}

.othercurrent-info{
    display: flex;
    flex-direction: column;
}

.otherinfo-child{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.otherinfo-childspan{
    font-size: 27px;
}

.otherinfo-icons{
    margin-right: 1em;
}

.hourly-chart{
    width: 35em;
}

.daily-forecast{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
}

.dail-forecast-img{
    width: 7em;
    margin-top: -1em;
}

.daily-div{
    margin: 0.3em;
    height: 200px;
    width: 190px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
}

.weathercurrent-left{
    text-align: center;
}

.weathercurrent-desc{
    margin-top: 0.5em;
}

.weathercurrent-left > svg {
    font-size: 5em;
    margin: 0.2em;
}

.weathercurrent-temp{
    margin-bottom: 0;
}

.daily-div svg {
    font-size: 3.5em;
}

.dailyweather-icondiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dailyweather-icondiv > span {
    font-size: 1.4em;
    font-weight: 400;
}

.dailyweather-down{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
    font-size: 1.3em;
}

.dailyweather-down > span > svg {
    margin-right: 0.1em;
}

.dailyweather-down > span{
    display: flex;
    align-items: center;
}

.dailyweather-desc{
    margin-top: 0.5em;
}

.weathercurrent-time{
    float: right;
}
